<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.moneyprinterv2.random-scheduler</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/harrytrinhtvf/Library/Application Support/MoneyPrinterV2/run_random_scheduler.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/harrytrinhtvf/Documents/HarryTrinh-TVF/Kombu/MoneyPrinterV2</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/harrytrinhtvf</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
  </dict>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/harrytrinhtvf/Library/Application Support/MoneyPrinterV2/launchd_random_scheduler.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/harrytrinhtvf/Library/Application Support/MoneyPrinterV2/launchd_random_scheduler.err.log</string>
</dict>
</plist>
